@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Singleton: @ViewBag.Singleton</p>
<p>Transient: @ViewBag.Transient</p>
<p>Scoped: @ViewBag.Scoped</p>

<h3>Servis sınıfı</h3>
<p>SingletonService: @ViewBag.SingletonService</p>
<p>TransientService: @ViewBag.TransientService</p>
<p>ScopedService: @ViewBag.ScopedService</p>
